body
{
    text-align: center;
    padding-top: 50px;
}

li 
{
    list-style-type: none;
}

ul
{
    height: 110px;
}

hr
{
    width: 500px;
}

#img
{
    width: 10%;
}

#imgame
{
    padding-left: 50px;
    padding-right: 50px;
    width: 350px;
    height: 240px;
}

.imgplaces
{
    width: 350px;
    height: 240px;
}

#aligngame
{
    padding-right: 50px
}

.media
{
    padding-top: 30px;
    padding-bottom: 30px;
}

.aligncarousel
{
    padding-top: 30px;
    background-color: aqua;
}

#booksalign
{
    padding-left: 14%;
    padding-right: 14%;
    padding-top: 2%;
    padding-bottom: 5%;
}